.navbar-d{
    background-color: green;
}
body{
    background-color: beige;
}
.botn-primary:hover {
    background-color: #45a049; /* Color al pasar el mouse */
    border-color: #45a049; /* Color del borde al pasar el mouse */
  }
  .btn-primary-custom {
    background-color: #4CAF50; /* Cambia este valor al color deseado */
    border-color: #4CAF50; /* Cambia el borde si es necesario */
  }
  .btn2:hover {
    background-color: #3d0aca;
  }