/* Color Variables */
:root {
    --primary-color: #45a049; /* Primary color for main elements */
    --secondary-color: #367c39; /* Secondary color for accents */
    --text-color: #333; /* Text color for content */
    --light-bg: #f8f9fa; /* Light background color */
    --dark-overlay: rgba(0, 0, 0, 0.7); /* Dark overlay for modal backgrounds */
    --bs-border-width: 0; /* Border width for Bootstrap components */
}

/* Body Styles */
body {  
    font-family: 'Arial', sans-serif; /* Font family for the body */
    margin: 0;
    padding: 0;
    color: var(--text-color); /* Text color for the body */
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #45a049; /* Background color for the navbar */
    border-bottom: 1px solid #ddd; /* Border color for the navbar */
    padding: 15px 0; /* Padding for the navbar */
    position: fixed; /* Fixed position for the navbar */
    top: 0; /* Position at the top of the page */
    left: 0; /* Position at the left of the page */
    z-index: 1000; /* Z-index for stacking order */
}

.navbar-container {
    width: 90%; /* Width of the navbar container */
    max-width: 1200px; /* Maximum width for the navbar container */
    margin: 0 auto; /* Center the navbar container */
    display: flex; /* Flexbox layout for the navbar */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between items */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Center items vertically */
    font-size: 1.5em; /* Font size for the logo */
    font-weight: bold; /* Font weight for the logo */
    color: #333; /* Text color for the logo */
    text-decoration: none; /* No underline for the logo */
}

.navbar-logo {
    width: 70px;
    height: 70px; /* Size of the logo */
    margin-right: 10px; /* Margin to the right of the logo */
}

.navbar-links {
    list-style: none;
    display: flex; /* Flexbox layout for the navbar links */
    gap: 20px; /* Gap between navbar links */
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em; /* Font size for the navbar links */
        transition: color 0.3s; /* Smooth transition for color change */
}

.navbar-links li a:hover {
    color: #000;
    text-decoration: none;
}

/* Estilos para el dropdown menu */
.dropdown-menu {
    left: auto; /* Position the dropdown menu to the right */
    opacity: 0; /* Opacity for the dropdown menu */
    transform: translateY(-20px); /* Transform for the dropdown menu */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition for opacity and transform */
    display: block; /* Display the dropdown menu */
    visibility: hidden; /* Hide the dropdown menu initially */
    font-size: 0.8em; /* Font size for the dropdown menu */
}
.dropdown-toggle::after {
    color: #fff; /* Color for the dropdown toggle */
}   
.dropdown:hover .dropdown-menu,
.dropdown-menu.show {
    opacity: 1; /* Opacity for the dropdown menu */
    transform: translateY(0); /* Transform for the dropdown menu */
    visibility: visible; /* Visibility for the dropdown menu */
}
.dropdown-menu .dropdown-item {
    color: var(--text-color);
    padding: 8px 20px; /* Padding for the dropdown items */
    transition: background-color 0.3s ease; /* Transition for background color */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; /* Background color for the dropdown items */
    color: var(--primary-color); /* Text color for the dropdown items */
}

.dropdown-divider {
    border-top: 1px solid #e9ecef; /* Border color for the dropdown divider */  
    margin: 0.5rem 0; /* Margin for the dropdown divider */
}

.dropdown-toggle:hover {
    color: #fff; /* Text color for the dropdown toggle */
    border: none; /* No border for the dropdown toggle */
}
/* Contenido */
.container {
    margin-top: 30px; /* Margin for the container */
    width: 100%; /* Width of the container */
    padding: 0; /* Padding for the container */
    text-align: center; /* Text alignment for the container */
    box-sizing: border-box; /* Box sizing for the container */
}

.footer {
    background: rgb(241, 241, 241); /* Background color for the footer */
    padding: 20px 0; /* Padding for the footer */
    border-top: 1px solid #ddd; /* Border color for the footer */
    opacity: 0.9; /* Opacity for the footer */
    margin-top: 10px; /* Margin for the footer */
}

.footer-content {
    display: flex;
    justify-content: space-around; /* Space between items */
    gap: 30px; /* Gap between items */
    margin-bottom: 20px; /* Margin for the footer */
    flex-wrap: wrap; /* Flex wrap for the footer */
    text-align: center; /* Text alignment for the footer */
}

.footer-section {
    flex: 1; /* Flex property for the footer section */
    min-width: 200px; /* Minimum width for the footer section */
}

.footer-section h5 {
    color: #333;
    margin-bottom: 15px; /* Margin for the footer section */
    font-weight: 600; /* Font weight for the footer section */
}

.footer-section ul {
    list-style: none;
    padding: 0; /* Padding for the footer section */
    margin: 0; /* Margin for the footer section */
}

.footer-section ul li {
    margin-bottom: 8px; /* Margin for the footer section */
}

.footer-section ul li a {
    color: #666; /* Text color for the footer section */
    text-decoration: none; /* No underline for the footer section */
    transition: color 0.3s ease; /* Transition for color change */
    position: relative; /* Position for the footer section */
    padding-bottom: 2px; /* Padding for the footer section */
}

.footer-section ul li a::after {
    content: ''; /* Content for the footer section */
    position: absolute; /* Position for the footer section */
    width: 0; /* Width for the footer section */
    height: 2px; /* Height for the footer section */
    bottom: 0; /* Position at the bottom of the footer section */
    left: 0; /* Position at the left of the footer section */
    background-color: var(--primary-color); /* Background color for the footer section */
    transition: width 0.3s ease; /* Transition for width change */
}

.footer-section ul li a:hover::after {
    width: 100%; /* Width for the footer section */
}

.footer-section ul li a:hover {
    color: var(--primary-color); /* Text color for the footer section */
}

/* Estilos para los iconos sociales */
.social-icons {
    display: flex; /* Flexbox layout for the social icons */
    justify-content: center; /* Center items horizontally */
    gap: 15px; /* Gap between items */
    white-space: nowrap; /* No wrap for the social icons */
}

.social-icons a {
    color: #333;
    font-size: 1.5em; /* Font size for the social icons */
    transition: color 0.3s ease; /* Transition for color change */
    white-space: nowrap; /* No wrap for the social icons */
}

/* Estilo para la sección de copyright con centramiento */
.footer {
    background: rgb(241, 241, 241);
    padding: 20px 0; /* Padding for the footer */
    border-top: 1px solid #ddd; /* Border color for the footer */
}

.footer-bottom {
    text-align: center;
    padding: 15px 0; /* Padding for the footer */
    width: 100%; /* Width of the footer */
    display: flex; /* Flexbox layout for the footer */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.footer-bottom span {
    color: #666; /* Text color for the footer */
    font-size: 0.9em; /* Font size for the footer */
    white-space: nowrap; /* No wrap for the footer */
    display: inline-block; /* Display as inline block */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center; /* Center items vertically */
        gap: 20px; /* Gap between items */
    }

    .footer-section {
        width: 100%; /* Width of the footer section */
    }

    .footer-bottom {
        display: flex;
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        padding: 12px 0; /* Padding for the footer */
        margin-top: 0; /* Margin for the footer */
    }

    .footer-bottom span {
        font-size: 0.85em; /* Font size for the footer */
    }
}

/* Animaciones para iconos sociales */
.social-icons a {
    color: #333;
    font-size: 1.5em; /* Font size for the social icons */
    transition: all 0.3s ease; /* Transition for all elements */
    display: inline-block; /* Display as inline block */
    padding: 8px; /* Padding for the social icons */
    border-radius: 50%; /* Border radius for the social icons */
}

.social-icons a:hover {
    transform: translateY(-5px); /* Transform for the social icons */
}

/* Colores específicos para cada red social al hacer hover */
.social-icons a .bi-instagram:hover {
    color: #E4405F; /* Color for the social icons */
    animation: bounce 0.6s ease infinite; /* Animation for the social icons */
}

.social-icons a .bi-facebook:hover {
    color: #1877F2; /* Color for the social icons */
    animation: bounce 0.6s ease infinite; /* Animation for the social icons */
}

.social-icons a .bi-twitter:hover {
    color: #1DA1F2; /* Color for the social icons */
    animation: bounce 0.6s ease infinite; /* Animation for the social icons */
}

/* Animación de rebote */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Transform for the social icons */
    }
    50% {
        transform: translateY(-5px); /* Transform for the social icons */   
    }
}

/* About Section */
.about-section {
    width: 100%;
    position: relative; /* Position for the about section */
    height: 550px; /* Height for the about section */
    margin-top: 110px; /* Margin for the about section */
    overflow: hidden; /* Overflow for the about section */
}

#carouselAbout {
    position: absolute; /* Position for the carousel */
    top: 0; /* Position at the top of the page */
    left: 0; /* Position at the left of the page */
    width: 100%; /* Width of the carousel */
    height: 100%; /* Height of the carousel */
    z-index: 1; /* Z-index for stacking order */
}

#carouselAbout .carousel-item {
    height: 600px; /* Height for the carousel */
}

#carouselAbout .carousel-item img {
    width: 100%;
    height: 100%; /* Height of the carousel */
    object-fit: cover; /* Object fit for the carousel */
}
/* Media queries */
@media (max-width: 768px) {
  
    #carouselAbout .carousel-item {
        height: 500px; /* Height for the carousel */    
    }
}
.scroll-arrow { 
    margin-bottom: 5%; /* Margin for the scroll arrow */
}
.scroll-down {
    font-size: 2em;
    color: #333; /* Text color for the scroll arrow */
        cursor: pointer; /* Cursor for the scroll arrow */
    position: absolute; /* Position for the scroll arrow */
    bottom: 10px; /* Position at the bottom of the page */
    left: 50%; /* Position at the center of the page */
    transform: translateX(-50%); /* Transform for the scroll arrow */
    animation: bounce 2s infinite; /* Animation for the scroll arrow */
    z-index: 2; /* Z-index for stacking order */
}

.scroll-down:hover {
    color: #45a049; /* Text color for the scroll arrow */
    transition: color 0.3s ease; /* Transition for color change */
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0); /* Transform for the scroll arrow */
    }
    40% {
        transform: translateX(-50%) translateY(-10px); /* Transform for the scroll arrow */ 
    }
    60% {
        transform: translateX(-50%) translateY(-5px); /* Transform for the scroll arrow */
    }
}
/* Estilos para la página de login */
.login-container {
    min-height: 100vh; /* Minimum height for the login container */
    display: flex; /* Flexbox layout for the login container */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}
.login-card {
    background: #fffefe;
    border-radius: 15px; /* Border radius for the login card */
    box-shadow: 5px 6px 10px 6px rgba(0, 0, 0, 0.1); /* Box shadow for the login card */
    width: 100%; /* Width of the login card */
    max-width: 400px; /* Maximum width for the login card */
    padding: 2rem; /* Padding for the login card */
}

.login-logo {
    width: 120px;
    height: 120px; /* Height for the login logo */
    margin: 0 auto 2rem; /* Margin for the login logo */
    display: block; /* Display as block */
}

.login-title{
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem; /* Font size for the login title */
    margin-bottom: 2rem; /* Margin for the login title */
}

.form-floating {
    margin-bottom: 1.5rem; /* Margin for the login form */
}

.form-control {
    border: 1px solid #918e8e; /* Border for the login form */
    padding: 0.8rem; /* Padding for the login form */
}

.form-control:focus {
    border-color: var(--primary-color); /* Border color for the login form */
    box-shadow: 0 0 0 0.2rem rgba(69, 160, 73, 0.25); /* Box shadow for the login form */
}

.btn-custom-green {
    background-color: var(--primary-color);
    color: white; /* Text color for the login button */
        width: 100%; /* Width of the login button */
    padding: 0.8rem; /* Padding for the login button */
    border: none; /* No border for the login button */
    border-radius: 5px; /* Border radius for the login button */
    font-size: 1rem; /* Font size for the login button */
    transition: background-color 0.3s ease; /* Transition for background color change */
}

.btn-custom-green:hover:not(.bg-custom-white) {
    background-color: #1e4220; /* Background color for the login button */
    color: white; /* Text color for the login button */
  }

.back-arrow {
    color: var(--primary-color); /* Text color for the back arrow */
    cursor: pointer; /* Cursor for the back arrow */
    transition: color 0.3s ease; /* Transition for color change */
}

.back-arrow:hover {
    color: var(--secondary-color); /* Text color for the back arrow */
}
.container-profile {
    margin-top: 10% !important; /* Margin for the profile container */
    width: 100%; /* Width of the profile container */
    padding: 0; /* Padding for the profile container */
    text-align: center; /* Text alignment for the profile container */
    box-sizing: border-box; /* Box sizing for the profile container */
}

.btn-warning {
    background-color: #ffc107;
    color: #000; /* Text color for the warning button */
    text-decoration: none; /* No text decoration for the warning button */
}

.btn-warning:hover {
    background-color: #ff9800; /* Background color for the warning button */
    color: #fff; /* Text color for the warning button */
    text-decoration: none; /* No text decoration for the warning button */
}

.btn-danger {
    background-color: #f44336;
    color: #fff; /* Text color for the danger button */
    text-decoration: none; /* No text decoration for the danger button */
}

.btn-danger:hover {
    background-color: #d32f2f;
    color: #fff; /* Text color for the danger button */
    text-decoration: none; /* No text decoration for the danger button */
}
.btn a {
    color: inherit;
    text-decoration: none; /* No text decoration for the button */
    display: inline-block; /* Display as inline block */
    width: 100%; /* Width of the button */
    height: 100%; /* Height of the button */
}
.btn-warning a, .btn-danger a {
    color: #fff; /* Text color for the button */
    font-weight: bold; /* Font weight for the button */
}

.btn-warning:hover a, .btn-danger:hover a {
    text-decoration: none; /* No text decoration for the button */
    color: #000; /* Text color for the button */
}

.card {
    width: 80%;
    min-height: 200px; /* Minimum height for the card */
    padding: 10px; /* Padding for the card */
    border-radius: 10px; /* Border radius for the card */
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for the card */
    transition: transform 0.3s ease; /* Transition for transform change */
}

.card:hover {
    transform: scale(1.05); /* Transform for the card */
}

.card-body {
    background-color: #f8f9fa; /* Background color for the card body */
    padding: 10px; /* Padding for the card body */
}

.card-title {
    font-size: 1.2rem;
    color: #333; /* Text color for the card title */
    margin-bottom: 5px; /* Margin for the card title */
}

.card-text {
    font-size: 0.9rem; /* Font size for the card text */
    color: #666; /* Text color for the card text */
}


.btn-custom-green {
    background-color: #45a049;
    color: #fff; /* Text color for the button */
    border: none; /* No border for the button */
}

.btn-custom-green:hover {
    background-color: #367c39; /* Background color for the button */
}

.btn-outline-secondary {
    color: #000;
    background-color: #fff; /* Background color for the button */
    border: 1px solid #cecbcb; /* Border for the button */
    border-left: none; /* No border on the left */
    transition: background-color 0.3s, color 0.3s; /* Transition for background and text color change */
}

.btn-outline-secondary:hover {
    background-color: #fff;
    color: #45a049; /* Text color for the button */
    border: none; /* No border for the button */
}
.btn.text-white.position-relative.me-3 {
    background-color: #6c757d; /* Gray background */
    border: none; /* No border for the button */        
    border-radius: 50%; /* Border radius for the button */
    padding: 10px; /* Padding for the button */
    transition: background-color 0.3s, transform 0.3s; /* Transition for background and transform change */
}

.btn.text-white.position-relative.me-3:hover {
    background-color: #296ca0; /* Darker gray on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}
.navbar-admin-panel {
    background-color: #45a049; /* Background color for the admin panel */
}

.container-events {
    margin-top: 10% !important; /* Margin for the events container */
}
    .class-space {
        background-color: #45a049; /* Background color for the events container */
        padding: 50px; /* Padding for the events container */
        border-radius: 12px; /* Border radius for the events container */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Box shadow for the events container */
        margin: 30px auto; /* Margin for the events container */
        max-width: 800px; /* Maximum width for the events container */
        text-align: center; /* Text alignment for the events container */
        font-family: 'Arial', sans-serif; 
    }
    
    .class-space h2 {
        font-size: 2.5em; /* Tamaño destacado */
        color: #aed9b9; /* Verde oscuro que refleja sostenibilidad */
        margin-bottom: 20px; /* Espaciado inferior */
        font-weight: bold; /* Resalta el título */
    }
    
    .class-space p {
        font-size: 1.1em; /* Tamaño más accesible */
        color: #fcfcfc; /* Verde grisáceo, elegante y legible */
        line-height: 1.8; /* Mejora la legibilidad */
    }
    
    .class-space a {
        display: inline-block;
        margin-top: 20px; /* Espaciado superior */
        padding: 10px 25px; /* Botón amplio */
        background-color: #4CAF50; /* Verde vivo para CTA */
        color: white; /* Contraste del texto */
        text-decoration: none; /* Sin subrayado */
        border-radius: 6px; /* Botón redondeado */
        font-weight: bold; /* Llama la atención */
        transition: background-color 0.3s ease; /* Efecto hover suave */
    }
    
    .class-space a:hover {
        background-color: #388e3c; /* Background color for the button */
        color: #f0f8ff; /* Text color for the button */
    }
    
.event-title {
    font-size: 2.5rem; /* Font size for the event title */
    margin-bottom: 20px; /* Margin for the event title */
}
.event-description, .event-details {
    font-size: 1.1rem; /* Font size for the event description */
    line-height: 1.6; /* Line height for the event description */
}
.event-container {
    margin-top: 7% !important; /* Margin for the event container */
}

.event-title {
    font-size: 2.5rem;
    color: #000; /* Text color for the event title */
    margin-bottom: 2rem; /* Margin for the event title */
    font-weight: 600; /* Font weight for the event title */
    text-transform: uppercase; /* Text transformation for the event title */
}

/* Image Container */
.event-image-container {
    width: 100%;
    height: 300px; /* Height for the event image container */
    background: #787878; /* Background color for the event image container */
    border-radius: 8px; /* Border radius for the event image container */
    overflow: hidden; /* Overflow for the event image container */
    margin-bottom: 2rem; /* Margin for the event image container */
}

.event-image {
    width: 100%;
    height: 100%; /* Height for the event image */
    object-fit: cover; /* Object fit for the event image */
}

.event-image-placeholder {
    width: 100%; /* Width for the event image placeholder */
    height: 100%; /* Height for the event image placeholder */
    background: #666; /* Background color for the event image placeholder */
    display: flex; /* Display as flex */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
}

/* Characteristics Section */
.event-characteristics {
    margin-top: 2rem; /* Margin for the event characteristics */    
}

.characteristics-title {
    font-size: 1.8rem;
    color: white; /* Text color for the event characteristics title */
    margin-bottom: 1.5rem; /* Margin for the event characteristics title */
    text-transform: uppercase; /* Text transformation for the event characteristics title */
    border-bottom: 2px solid #28a745; /* Border for the event characteristics title */
    padding-bottom: 0.5rem; /* Padding for the event characteristics title */
}

/* Event Info Items */
.event-info {
    display: flex;
    flex-direction: column; /* Flex direction for the event info */
    gap: 1rem; /* Gap for the event info */
}

.event-info-item {
    display: flex;
    align-items: center; /* Align items vertically */
    padding: 1rem; /* Padding for the event info */
    background: rgba(112, 111, 111, 0.1); /* Background color for the event info */
    border-radius: 8px; /* Border radius for the event info */
    transition: all 0.3s ease; /* Transition for all changes */
}

.event-info-item:hover {
    background: rgba(255, 255, 255, 0.15); /* Background color for the event info */
    transform: translateX(5px); /* Transform for the event info */
}

.event-info-item i {
    font-size: 1.4rem;
    color: #28a745; /* Text color for the event info */
    margin-right: 1rem; /* Margin for the event info */
    min-width: 24px; /* Minimum width for the event info */
}

.event-info-item span {
    color: #fff; /* Text color for the event info */
    font-size: 1rem; /* Font size for the event info */
}

.filter-events {
    background-color: #45a049; /* Background color for the filter events */
    color: #fff; /* Text color for the filter events */
    border: none; /* No border for the filter events */
}
.filter-events:hover {
    background-color: #28522a; /* Background color for the filter events */ 
}

.date-box {
    padding: 5px; /* Padding for the date box */
    font-size: 0.9rem; /* Font size for the date box */
}

.btn-eventos {
    width: 150px; /* Allow the button to size based on its content */
    padding: 8px 16px; /* Adjust padding for desired size */
    background-color: #28a745; /* Background color for the button */
    color: #fff; /* Text color for the button */
    border: none; /* No border for the button */
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}
.btn-create-event {
    color: #000; /* Text color for the button */
    padding: 12px 24px; /* Increase padding for a larger button */
    font-size: 1.4rem; /* Increase font size for the button */
    border: none; /* No border for the button */
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-create-event:hover{
   color: #45a049;	/* Text color for the button */             
}
 /* Map styling */
 #map {
    height: 70vh;  /* Adjust the map height to 70% of the window */
    width: 100%;   /* The map occupies the full width of the page */
    margin-top: 5%; /* Small margin from the navbar */
    border-radius: 10px; /* Round the corners of the map */
}


/* Media query to adapt the map to smaller screens */
@media (max-width: 768px) {
    #map {
        height: 80vh; /* Increase the height on smaller screens if needed */
        margin-top: 17%; /* More space from the navbar */
        border-radius: 10px; /* Keep the rounded corners */
    }
    .navbar-brand span {
        font-size: 1rem; /* Reduce the font size of the logo on mobile devices */
    }
}


/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Padding for the container */
    }

    .header, .footer {
        text-align: center; /* Text alignment for the header and footer */
    }

    .content {
        flex-direction: column; /* Flex direction for the content */
        align-items: center; /* Align items vertically */
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column; /* Flex direction for the navbar */
    }

    .navbar a {
        padding: 10px; /* Padding for the navbar */
        text-align: center; /* Text alignment for the navbar */
    }
}